<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="bdsharebuttonbox" data-tag="share_1">
    <a class="bds_weixin" data-cmd="weixin"></a>
    <a class="bds_qzone" data-cmd="qzone"></a>
    <a class="bds_tsina" data-cmd="tsina"></a>
    <a class="bds_baidu" data-cmd="baidu"></a>
    <!-- <a class="bds_tqq" data-cmd="tqq"></a> -->
    <a class="bds_sqq" data-cmd="sqq"></a>
    <a class="bds_more" data-cmd="more">更多</a>
    <a class="bds_count" data-cmd="count"></a>
</div>
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "${title}",  //分享时的标题
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "${pic}", //此处为分享时自带的图片
            "bdStyle": "0",
            "bdSize": "32",
            "bdUrl": '${sharUrl}', //此处为后台要进行分享的内容的定义
            "bdDesc": '${summary}',  //分享时的文本摘要
        },
        "share": {}
    };
    //此处为需要引入的百度分享的js文件
    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
</body>
</html>